In [1]:
import json
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# Preprocess Data

In [2]:
def json2df(json_path):
    """Loads scraped json data into a Pandas DF
    
    """
    # load data from json
    with open(json_path) as f:
        data = json.load(f)

    # preprocess json data and convert to df
    all_postings = []
    for search_term in data:
        all_postings.extend(data[search_term])
    df = pd.DataFrame(all_postings)
    
    # drop duplicate postings by link
    df = df.drop_duplicates(subset='url')
    return df

In [3]:
def process_location(df):
    df["city"] = np.where(df.location.str.contains(","), df.location.str.split(",").str.get(0).str.strip(), None)
    df["province"] = np.where(df.location.str.contains(","), df.location.str.split(",").str.get(1).str.strip(), None)
    df["country"] = np.where(df.location == "Canada", "Canada", None)
    province_list = ["ON", "BC", "QC", "AB", "SK", "MB", "NS", "NB", "PE", "YT", "NL"]
    df.loc[df.province.isin(province_list), "country"] = "Canada"
    df.loc[(df.province == "Canada") | ~(df.province.isin(province_list)), "city"] = None
    df.loc[(df.province == "Canada") | ~(df.province.isin(province_list)), "province"] = None
    df.loc[(df.province == "Canada") | ~(df.province.isin(province_list)), "country"] = "Canada"
    df = df.drop("location", axis=1)
    return df

In [4]:
def process_num_applicants(df):
    df.num_applicants = np.where(df.num_applicants.str.split(" ").str.get(0).str.isdigit(), 
        df.num_applicants.str.split(" ").str.get(0), df.num_applicants)
    df.num_applicants = np.where(df.num_applicants.str.split(" ").str.get(0) == "Over", 100, df.num_applicants)
    df.num_applicants = df.num_applicants.astype("float64")
    return df

In [5]:
def salary_string2annual(salary):
    try:
        amount = salary.split("/")[0].split("$")[-1].replace("$", "")
        if "K" in amount:
            amount = amount.replace("K", "")
            amount = float(amount)*1000
        amount = float(amount)
        term = salary.split("/")[1].split(" ")[0]
        if term == 'hr':
            amount = amount*2000
    except Exception as e:
        #print(e)
        amount = salary
    return amount

In [6]:
def process_salary(df):
    df.salary = np.where(df.salary.str.contains("$", regex=False), df.salary, None)
    salaries = []
    for i in range(len(df)):
        salary = df.iloc[i].salary
        if salary is not None:
            try:
                if salary.count("$") == 1:
                    # the salary is not a range
                    salaries.append(salary_string2annual(salary))
                else:
                    split_salary_string = salary.split(" ")
                    lower, upper = "", ""
                    for word in split_salary_string:
                        if "$" in word:
                            if lower == "":
                                lower = word
                            else:
                                upper = word
                                break
                    mean_amount = (salary_string2annual(lower) + salary_string2annual(upper))/2
                    salaries.append(mean_amount)
            except Exception as e:
                print(e)
                pass
        else:
            salaries.append(None)
    df["annual_salary"] = salaries
    df = df.drop("salary", axis=1)
    return df

In [7]:
def add_glassdoor_salaries(df, json_path):
    with open(json_path) as f:
        glassdoor_salaries = json.load(f)
    annual_salaries = df.annual_salary.to_list()
    for i in range(len(df)):
        if pd.isnull(annual_salaries[i]):
            url = df.iloc[i].url
            if url in glassdoor_salaries:
                annual_salaries[i] = glassdoor_salaries[url]
    df.annual_salary = annual_salaries
    df.annual_salary = df.annual_salary.astype('float64')
    return df

In [8]:
def preprocess_scraped_data(linkedin_json_path, glassdoor_json_path):
    df = json2df(linkedin_json_path)
    df = process_location(df)
    df = process_num_applicants(df)
    df = process_salary(df)
    df = add_glassdoor_salaries(df, glassdoor_json_path)
    df["job_title"] = df.title
    df = df.drop("title", axis=1)
    df = df[["job_title", "employer", "num_applicants", "annual_salary", "city", "province", "country", "description", "url"]]
    df.to_pickle("linkedin_scraped_posts_0407_processed.pkl")

In [9]:
preprocess_scraped_data("data/linkedin_scraped_posts_0407.json", "data/glassdoor_scraped_salaries_0407.json")

In [10]:
df = pd.read_pickle("linkedin_scraped_posts_0407_processed.pkl")

In [11]:
# drop title + employer duplicates
df = df.drop_duplicates(subset=["job_title", "employer"])

In [12]:
# check jobs missing salaries
df[~(df.annual_salary > 0)]

,job_title,employer,num_applicants,annual_salary,city,province,country,description,url
387,Volunteer: Financial Analyst (Remote/Unpaid Vo...,VolunteerMatch,86.0,0.0,Calgary,AB,Canada,About the job\nEmpowered Futures is a non-prof...,https://www.linkedin.com/jobs/view/3817534547/...
949,Software Engineer (Python) - Up to CAD$180k + ...,Hunter Bond,37.0,NaN,None,None,Canada,About the job\nClient: \nA prestigious technol...,https://www.linkedin.com/jobs/view/3882857588/...
975,Growth Hacker,Let's Roam,36.0,NaN,None,None,Canada,About the job\nGrowth Marketing & Product Inno...,https://www.linkedin.com/jobs/view/3862563221/...
1021,MLOps Software Engineer - Elite AI Team - Up t...,Hunter Bond,27.0,NaN,Montreal,QC,Canada,About the job\nJob Title: MLOps Software Engin...,https://www.linkedin.com/jobs/view/3879743623/...

In [13]:
display(df.loc[949].job_title)
display(df.loc[975].job_title)
display(df.loc[1021].job_title)

'Software Engineer (Python) - Up to CAD$180k + Huge Bonus Montreal'

'Growth Hacker'

'MLOps Software Engineer - Elite AI Team - Up to $140k CAD + Bonus'

In [14]:
# update salaries based on title and glassdoor search
df.loc[949, "annual_salary"] = 180000
df.loc[975, "annual_salary"] = 55000
df.loc[1021, "annual_salary"] = 140000

In [15]:
# remove volunteer position to avoid outliers
df = df.drop(387)

In [16]:
df[~(df.annual_salary > 0)]

Empty DataFrame
Columns: [job_title, employer, num_applicants, annual_salary, city, province, country, description, url]
Index: []

In [17]:
df = df.reset_index()
df = df.drop('index', axis=1)
print(len(df))

596

# Analysis and Feature Engineering

In [18]:
df.head()

,job_title,employer,num_applicants,annual_salary,city,province,country,description,url
0,Senior Data Scientist,Akkodis,76.0,118000.0,Toronto,ON,Canada,About the job\nHi Candidate\nI hope you are do...,https://www.linkedin.com/jobs/view/3881928212/...
1,Lead Data Scientist/Machine Learning Engineer ...,Agoda,41.0,132000.0,Toronto,ON,Canada,About the job\nAbout Agoda\n\nAgoda is an onli...,https://www.linkedin.com/jobs/view/3839799162/...
2,"Practice Lead Data Scientist, Data Driven Mark...",Cogeco Connexion,41.0,120000.0,Montreal,QC,Canada,About the job\nOur culture lifts you up—there ...,https://www.linkedin.com/jobs/view/3848292659/...
3,Senior Data Scientist,Clio - Cloud-Based Legal Technology,100.0,165000.0,None,None,Canada,About the job\nClio is more than just a tech c...,https://www.linkedin.com/jobs/view/3827050664/...
4,Lead Data Scientist,Logikk,100.0,132000.0,Montreal,QC,Canada,About the job\nLead Data Scientist - Leading A...,https://www.linkedin.com/jobs/view/3865773248/...

In [19]:
def cross_with_annual_salary(df, other_column, num_cuts):
    percentiles = []
    for i in range(num_cuts):
        next_percentile = round(np.nanpercentile(df[other_column], i*100/(num_cuts)), 2)
        if next_percentile not in percentiles:
            percentiles.append(next_percentile)
    percentiles.append(max(df[other_column]))

    formatted_ranges, mean_salaries = [], []
    for i in range(1, len(percentiles)):
        if i != len(percentiles)-1:
            formatted_ranges.append(f"[{percentiles[i-1]}-{percentiles[i]})")
            mean_salaries.append(round(df[(df[other_column] >= percentiles[i-1]) & (df[other_column] < percentiles[i])].annual_salary.mean(), 2))
        else:
            formatted_ranges.append(f"[{percentiles[i-1]}-{percentiles[i]}]")
            mean_salaries.append(round(df[(df[other_column] >= percentiles[i-1]) & (df[other_column] <= percentiles[i])].annual_salary.mean(), 2))
    
    display_df = pd.DataFrame()
    display_df[other_column] = formatted_ranges
    display_df["Mean Annual Salary"] = mean_salaries
    return display_df

In [20]:
# salary by number of applicants
cross_with_annual_salary(df, "num_applicants", 10)

  num_applicants  Mean Annual Salary
0     [0.0-14.0)            87381.36
1    [14.0-29.0)            87416.43
2    [29.0-53.0)            87218.55
3    [53.0-81.0)            83020.83
4   [81.0-100.0)            94984.38
5  [100.0-100.0]            90964.22

In [21]:
# salary by city
df.groupby("city").annual_salary.agg(['count', 'min', 'max', 'mean']).sort_values(by='count', ascending=False)[:10]

             count      min       max          mean
city
Toronto        129  50000.0  200000.0  91430.232558
Vancouver       76  35500.0  209000.0  87375.000000
Montreal        64  40000.0  154000.0  89071.093750
Calgary         34  37500.0  137500.0  82220.588235
Winnipeg        18  55000.0  128000.0  84805.555556
Mississauga     15  26000.0  200000.0  84766.666667
Markham         11  59000.0  123000.0  90909.090909
Ottawa          10  59000.0  200000.0  98000.000000
Regina          10  50000.0   91000.0  70300.000000
Edmonton         9  55000.0  130500.0  84333.333333

In [22]:
# salary by province
df.groupby("province").annual_salary.agg(['count', 'min', 'max', 'mean']).sort_values(by='mean', ascending=False)[:10]

          count      min       max          mean
province
ON          205  26000.0  200000.0  89404.878049
QC           86  31000.0  154000.0  85587.790698
BC          104  35500.0  209000.0  85167.019231
MB           18  55000.0  128000.0  84805.555556
NB            3  59000.0  132000.0  83333.333333
AB           45  37500.0  137500.0  81422.222222
NS            3  57000.0  107000.0  79666.666667
SK           11  50000.0   91000.0  71409.090909
YT            1  36500.0   36500.0  36500.000000

In [25]:
df.city.unique()

array(['Toronto', 'Montreal', None, 'Calgary', 'Waterloo', 'Oakville',
       'Ottawa', 'Aurora', 'Surrey', 'Mississauga', 'Woodbridge',
       'Winnipeg', 'Brampton', 'Vancouver', 'Markham', 'Bedford',
       'Chiasson Office', 'Whitehorse', 'Regina', 'Dorval', 'Vaughan',
       'Kelowna', 'Québec', 'Chalk River', 'Hull', 'Shawinigan',
       'Hamilton', 'North Vancouver', 'Sainte-Anne-de-Bellevue',
       'Edmonton', 'Metro Vancouver A', 'Halifax', 'Burlington',
       'Boucherville', 'Acheson', 'Alberta Beach', 'Brunswick',
       'Greater Vancouver', 'Dartmouth', 'Victoria', 'Gatineau',
       'Burnaby', 'Sherbrooke', 'St. Jacobs', 'Guelph',
       'Dollard-des-Ormeaux', 'Montréal-Est', 'Longueuil',
       'Montréal-Ouest', 'Saskatoon', 'Richmond', 'New Westminster',
       'Nelson', 'Blacks Harbour', 'Pointe-Claire', 'Bowmanville',
       'Kanata', 'Scarborough', 'St-Hyacinthe', 'Laval'], dtype=object)

In [38]:
# convert city and province into one hot encoding
province_mapping = {}
for p in df.province.unique():
    if p is not None:
        province_mapping[p] = len(province_mapping)
city_mapping = {}
for c in df.city.unique():
    if c is not None:
        city_mapping[c] = len(city_mapping)

# save encodings
with open("data/province_encoding.json", "w") as f:
    json.dump(province_mapping, f, indent=4)
with open("data/city_encoding.json", "w") as f:
    json.dump(city_mapping, f, indent=4)

# update df
df["province_one_hot"] = df.province.map(province_mapping)
df["city_one_hot"] = df.city.map(city_mapping)

Toronto
Montreal
Calgary
Waterloo
Oakville
Ottawa
Aurora
Surrey
Mississauga
Woodbridge
Winnipeg
Brampton
Vancouver
Markham
Bedford
Chiasson Office
Whitehorse
Regina
Dorval
Vaughan
Kelowna
Québec
Chalk River
Hull
Shawinigan
Hamilton
North Vancouver
Sainte-Anne-de-Bellevue
Edmonton
Metro Vancouver A
Halifax
Burlington
Boucherville
Acheson
Alberta Beach
Brunswick
Greater Vancouver
Dartmouth
Victoria
Gatineau
Burnaby
Sherbrooke
St. Jacobs
Guelph
Dollard-des-Ormeaux
Montréal-Est
Longueuil
Montréal-Ouest
Saskatoon
Richmond
New Westminster
Nelson
Blacks Harbour
Pointe-Claire
Bowmanville
Kanata
Scarborough
St-Hyacinthe
Laval

In [37]:
df.city.value_counts()[:5]

Toronto      129
Vancouver     76
Montreal      64
Calgary       34
Winnipeg      18
Name: city, dtype: int64

In [35]:
df.province_one_hot.value_counts()

0.0    205
3.0    104
1.0     86
2.0     45
4.0     18
8.0     11
5.0      3
6.0      3
7.0      1
Name: province_one_hot, dtype: int64

In [ ]:
# check how different title pronouns impact salary
def compare_titles(titles):
    title_names, min, mean, max = [], [], [], []
    for title in titles:
        title_names.append(title)
        subset = df[df.job_title.str.lower().str.contains('|'.join(titles[title]))]
        min.append("$" + str(subset.annual_salary.min()))
        mean.append("$" + str(round(subset.annual_salary.mean(), 2)))
        max.append("$" + str(subset.annual_salary.max()))
    display_df = pd.DataFrame()
    display_df["Job Title"] = title_names
    display_df["Min Annual Salary"] = min
    display_df["Mean Annual Salary"] = mean
    display_df["Max Annual Salary"] = max
    return display_df
    
titles = {
    "Junior": ["jr", "junior"],
    "Intermediate": ["intermediate"],
    "Average": [""],
    "Senior": ["sr", "senior"],
    "Manager": ["manage"],
    "Lead": ["lead"],
    "Director": ["director"],
    "Vice President": ["vp"]
}
compare_titles(titles)

In [ ]:
# check for keywords in title impact summary
titles = {
    "Average": [""],
    "AI": ["ai", "ml", "machine learning"],
    "Engineer": ["engineer"],
    "Scientist": ["scientist"],
    "Analyst": ["analyst"],
    "Finance": ["financial", "finance"]
}
compare_titles(titles)

In [ ]:
# add title pronouns and keywords as features
df["is_junior"] = np.where((df.job_title.str.lower().str.contains("jr")) | (df.job_title.str.lower().str.contains("junior")), 1, 0)
df["is_intermediate"] = np.where(df.job_title.str.lower().str.contains("intermediate"), 1, 0)
df["is_senior"] = np.where((df.job_title.str.lower().str.contains("sr")) | (df.job_title.str.lower().str.contains("senior")), 1, 0)
df["is_manager"] = np.where(df.job_title.str.lower().str.contains("manage"), 1, 0)
df["is_lead"] = np.where(df.job_title.str.lower().str.contains("lead"), 1, 0)
df["is_director"] = np.where(df.job_title.str.lower().str.contains("director"), 1, 0)
df["is_vp"] = np.where(df.job_title.str.lower().str.contains("vp"), 1, 0)
df["is_ai"] = np.where((df.job_title.str.lower().str.contains("ai")) | (df.job_title.str.lower().str.contains("ml")) | (df.job_title.str.lower().str.contains("machine learning")), 1, 0)
df["is_engineer"] = np.where(df.job_title.str.lower().str.contains("engineer"), 1, 0)
df["is_scientist"] = np.where(df.job_title.str.lower().str.contains("scientist"), 1, 0)
df["is_analyst"] = np.where(df.job_title.str.lower().str.contains("analyst"), 1, 0)
df["is_finance"] = np.where((df.job_title.str.lower().str.contains("finance")) | (df.job_title.str.lower().str.contains("financial")), 1, 0)

In [ ]:
# find maximum number of years experience in description
# and also number of different experiences required
def parse_int(word):
    word = word.split('-')[-1]
    final_int = ""
    for char in word:
        if char.isnumeric():
            final_int += char
        elif len(final_int):
            break
    if not len(final_int):
        final_int = -1
    return int(final_int)

years_experience, number_of_experiences = [], []
for desc in df.description.tolist():
    highest_years = None
    num_experiences = 0
    split = desc.lower().split('year')
    if len(split) > 1:
        for i, phrase in enumerate(split):
            if 'experience' in phrase[-100:] or (i < len(split) - 1 and 'experience' in split[i+1][:100]):
                split_phrase = phrase.strip().split(' ')
                num_years = parse_int(split_phrase[-1])
                if num_years > 0:
                    num_experiences += 1
                    if highest_years is None or num_years > highest_years:
                        highest_years = num_years
    years_experience.append(highest_years)
    number_of_experiences.append(num_experiences)
df['years_experience'] = years_experience
df['number_of_experiences'] = number_of_experiences
df.loc[df.years_experience > 15, 'years_experience'] = None

In [ ]:
cross_with_annual_salary(df, "years_experience", 5)

In [ ]:
cross_with_annual_salary(df, "number_of_experiences", 10)

In [ ]:
df.head()

# Model Training

In [ ]:
df.dtypes

In [ ]:
# clean dataset and split into train and test
good_cols = []
for col in df:
    if df[col].dtype != "object":
        good_cols.append(col)
X = df[good_cols]

In [ ]:
X